body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('bg_img.png'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .card {
    width: 300px;
    margin: 0 auto;
    margin-top: 100PX;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.7); 
    transition: transform 0.3s ease-in-out;
  }
  .card:hover {
    transform: scale(1.05); 
  }
  input {
    margin: 10px;
    padding: 5px;
    width: calc(70% - 20px); 
    position: relative; 
  }
  button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  button:hover {
    background-color: #45a049;
  }